:root {
    --primary-color: #ff9a04;
    --background-color: #f4f5fe;
    --primary-text-color: #24202c;
    --secondary-text-color: #9d9ea3;
}

* {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    line-height: initial;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
    -webkit-tap-highlight-color: transparent;
    /* font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif; */
}

@keyframes wipeIn {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.flex-a {
    display: flex;
    align-items: center;    
    justify-content: space-around;
}

.flex-b {
    display: flex;
    align-items: center;    
    justify-content: space-between;

}

.flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-e {
    display: flex;
    align-items: center;    
    justify-content: space-evenly;
}

.flex-r {
    display: flex;
    align-items: center;    
    flex-wrap: wrap-reverse;
}