/* PC low resolution */
@media (min-width: 64em) and (max-width: 77.4375em) {
    .nav__item {
        padding-right: 0;
    }

    .nav__item.active {
        /* border: none; */
    }

}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    #nav {
        padding: 0;
        width: 65px;
    }

    .nav__logo {
        --square: 50px;
        background: url(../../img/nav/small-logo.png) no-repeat center / contain;
        width: var(--square);
        height: var(--square);
        margin: 20px 10px;
    }

    .nav__logo-menu {
        display: none !important;
        /* opacity: 0; */
    }
    
    .nav__item {
        padding-right: 0;
    }
    
    .nav__item.active {
        border: none;
    }

    .nav__list-title,
    .nav__item-link {
        display: none;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* Mobile */
@media (max-width: 46.1875em) {
    #main {
        padding: 15px;
        margin-bottom: 300px !important;
    }

    #nav {
        display: none;
    }

    #control-panel {
        padding: 20px 30px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .panel__left,
    .panel__right {
        display: none;
    }

    .panel__center {
        margin: auto;
    }
  
}